html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    opacity: 0.75;
}
.conteiner{
    width: 100%;
}
.conteiner_content{
    width: 1191px;
    margin: 0 auto;
}
header{
    display: flex;
    height: 150px;
    align-items: center;
}
.logo img{
    width: 127px;
    height: 47px;
}
header .logo{
    height: 47px;
    flex: 1 0 auto;
}
.menu a{
    text-decoration: none;
    margin: 0 25px;
    opacity: 0.75;
    transition: color .35s linear;
    color: black;
    font-size: 20px;
}
.menu a:hover{
    color: #EF5F60;
}
.icon{
    background-color: #EF5F60;
    border: none;
    width: 38px;
    height: 38px;
    transition: background-color .35s linear;
    cursor: pointer;
}
.icon:hover{
    background-color: rgb(209, 21, 21);
}
button .fa{
    color: white;
}
.conteiner-intro{
    width: 100%;
    background-color: #F1F4F5;
    height: 208px;
    display: block;
}
.intro{
    padding: 21px;
}
.portfolio--header{
    display: block;
    height: 1141px;
    margin-top: 60px;
}
.title-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.title-link button{
    width: 126px;
    height: 45px;
    border: none;
    background-color: #EF5F60;
    color: white;
    cursor: pointer;
    transition: background-color .35s linear;
    font-size: 20px;
    border-radius: 2px;
}
.title-link button:hover{
    background-color: rgb(209, 21, 21);
    font-size: 23px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cls,
.brabus,
.sls,
.gle,
.clk,
.a-class,
.s-class,
.c-class,
.ml{
    width: 382px;
    height: 303px;
    background-color: #F1F1F1;
    display: block;
    margin-bottom: 20px;
}
.cls{
    background-image: url("./images/mercedes-cls-reviecls.webp");
    background-size: cover;
    background-position-x: -40px;
}
.brabus{
    background-image: url("./images/braabus.jpg");
    background-size: 497px;
    background-position-x: -56px;
    background-position-y: 16px;
}
.sls{
    background-image: url("./images/sls.jpg");
    background-size: 439px;
    background-position-x: -29px;
    background-position-y: -29px;
}
.gle{
    background-image: url("./images/gle.jpg");
    background-size: cover;
    background-position-x: -52px;
}
.clk{
    background-image: url("./images/MERCEDES-BENZ-CLK-63-AMG-Black-Series--C209--1613_26.jpg");
    background-size: cover;
}
.a-class{
    background-image: url("./images/a\ class.jpg");
    background-size: cover;
    background-position-x: center;
}
.s-class{
    background-image: url("./images/s\ class.jpg");
    background-size: 483px;
    background-position-x: -67px;
}
.c-class{
    background-image: url("./images/c\ class.webp");
    background-size: cover;
    background-position-x: center;
}
.ml{
    background-image: url("./images/ml.webp");
    background-size: cover;
    background-position-x: -11px;
}
.button-title{
    display: flex;
    justify-content: center;
}
.gmail{
    display: flex;
    justify-content: center;
}
.gmail button{
    width: 116px;
    height: 44px;
    border: none;
    background-color: #EF5F60;
    color: white;
    border-radius: 2px;
    transition: background-color .35s linear;
    cursor: pointer;
}
.gmail button:hover{
    background-color: rgb(209, 21, 21);
    font-size: 15px;
}
.service{
    display: flex;
    flex-wrap: wrap;
}
.bmw,
.ford,
.volkswagen,
.audi{
    width: 114px;
    height: 113px;
    background-color: #F1F1F1;
    border-radius: 60px;
    margin: 0 auto;
}
.bmw{
    background-image: url("./images/bmw-logo1.jpg");
    background-size: contain;
}
.ford{
    background-image: url("./images/ford.jpg");
    background-size: 212px;
    background-position-x: center;
    background-position-y: center;
}
.volkswagen{
    background-image: url("./images/Volkswagen_Logo.jpg");
    background-size: 195px;
    background-position-x: -40px;
    background-position-y: -7px
}
.audi{
    background-image: url("./images/new-audi-logo.jpg");
    background-size: 149px;
    background-position-x: center;
    background-position-y: center;
}

.description-title{
    display: flex;
    font-family: fantasy;
}
.BM{
    margin-left: 125px;
}
.fd{
    margin-left: 246px;
}
.vw{
    margin-left: 207px;
}
.ad{
    margin-left: 206px;
}
.text-description{
    display: flex;
}
.text-description pre{
    opacity: 0.8;
}
.bmw-description{
    margin-left: 54px
}
.ford-description{
    margin-left: 73px;
}
.audi-description{
    margin-left: 61px;
}
.old-models-conteiner{
    display: flex;
    flex-wrap: wrap;
}
.model-1906,
.model-1957,
.model-1940,
.model-1970{
    width: 183px;
    height: 183px;
    background-color: #F1F1F1;
}
.old-model-1906,
.old-model-1957,
.old-model-1940,
.old-model-1970{
    display: flex;
}
.old-model-1940{
    margin-top: 50px;
}
.old-model-1970{
    margin-top: 50px;
    margin-left: 5px;
}
.model-1906{
    background-image: url("./images/mercedes\ 1906.jpg");
    background-size: cover;
    background-position-x: -64px;
}
.model-1957{
    background-image: url("./images/mercedes\ 1957.jpg");
    background-size: cover;
    background-position-x: center;
}
.model-1940{
    background-image: url("./images/mercedes\ 1940.jpg");
    background-size: cover;
    background-position-x: center;
}
.model-1970{
    background-image: url("./images/merxedes\ 1970.jpg");
    background-size: cover;
    background-position-x: -14px;
}
.title{
    margin-top: 70px;
}
.footer{
    width: 100%;
    margin-top: 150px;
    height: 208px;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons{
    display: flex;
}
.rss,
.facebook,
.twitter,
.yahoo,
.youtube{
    width: 50px;
    height: 51px;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color .25s linear;
}
.rss{
    background-color: #FBAA56;
}
.rss:hover{
    background-color: rgb(225, 118, 5);
    font-size: 20px;
}

.facebook{
    background-color: #667EB7;
}
.facebook:hover{
    background-color: rgb(57, 76, 121);
    font-size: 20px;
}
.twitter{
    background-color: #6CC1EB;
}
.twitter:hover{
    background-color: rgb(28, 144, 202);
    font-size: 20px;
}
.yahoo{
    background-color: #E498C3;
}
.yahoo:hover{
    background-color: rgb(207, 74, 149);
    font-size: 20px;
}
.youtube{
    background-color: #DA535B;
}
.youtube:hover{
    background-color: rgb(168, 36, 45);
    font-size: 20px;
}